body
{
	background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://th.bing.com/th/id/OIP.bwhGlOlSJSQu6mqk4ccmmAHaEo?w=254&h=180&c=7&o=5&pid=1.7");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.header
{
    text-align: center;
    font-weight: bold;
}

h3
{
    color: green;
}

h5
{
    color: purple;
}

h1
{
    color: #063c94;
}

@media only screen and (min-width: 950px) {
		.card {
			margin-left: 540px;
		}

		.photo_div {
			margin-left: 100px !important;
		}
}

@media only screen and (max-width: 949px) {
		.card {
			margin-left: 340px;
		}

		.photo_div {
			margin-left: 100px !important;
		}
}

@media only screen and (max-width: 768px) {
		.card {
				margin-left: 150px;
		}

		.col {
			width: 100%;
		}

		.photo_div {
			margin-left: 50px !important;
		}
}

.card {
		float: center;
		width: 18rem;
}

.my_photo
{
    border: 1px solid black;
    width: 200px;
    margin: 10px;
}

.photo_div
{
    height: 300px;
    width: 1300px;
    border: 2px solid blue;
    border-radius: 12px;
		padding: 10px;
    margin: 30px;
		background-color: lightBlue;
}

.photo_div h2 {
	color: darkBlue;
}

#photo0 .row .col
{
	text-align: left;
}

#photo0 .row .col img
{
	float: right;
}

a {
		color: black;
		font-weight: bold;
		text-decoration: none;
}

a:hover {
		color: black;
		text-decoration: none;
}

.urls_div {
	text-align: center;
	margin: 10px;
}

#photo1 .row .col
{
    text-align: right;
}

#photo1 .row .col img
{
    float: left;
}

#photo4 .row .col
{
    text-align: left;
}

#photo4 .row .col img
{
  	float: right;
}

#photo5 .row .col
{
    text-align: right;
}

#photo5 .row .col img
{
    float: left;
}

button
{
	background-color: darkRed;
}

button a {
	color: white;
	font-weight: bold;
}

button:hover a {
		color: black !important;
		font-weight: bold;
}

button:hover {
	background-color: pink;
}

#splash_screen
{
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 300px;
	width: 100%;
	height: 100%;
	background-color: black;
	text-align: center;
	z-index: 1;
}

.display-none
{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	padding-top: 300px;
	width: 100%;
	height: 100vh;
	background-color: black;
	text-align: center;
	z-index: -10;
}

@keyframes fadeIn
{
	from {
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

.fade-in
{
	color: white;
	animation: fadeIn 1s ease-in forwards;
}
